{% extends "./opengis/base.html" %}

{% block body_content %}
<h1>Sign Up Form</h1>
<form action="." method="post" class="std_form">
	<ul>
		<li><label for="id_username">Username:</label>{{form.username}}</li>
		<li><label for="id_email">Email:</label>{{form.email}}</li>
		<li><label for="id_password1">Password:</label>{{form.password1}}</li>
		<li><label for="id_password2">Confirm Password:</label>{{form.password2}}</li>
	</ul>
	<div class="button_panel"><button type="submit">Submit</button></div>
</form>
{% endblock %}