<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
	<title>OpenGIS</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
	<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}/css/styles.css">
	
	<script type="text/javascript" src="{{MEDIA_URL}}/scripts/jquery.min.js"></script>
	
	
</head>
<body>
	<h1>OpenGIS</h1>
	<div>
		
		
		
		
		<div>
		<div>
			<div>
				<h2>Sign Up</h2>
				<form action="." method="post">

				</form>
			</div>
			<div>
				<h2>Login</h2>
				<form action="." method="post">

				</form>
			</div>
		</div>



		<h2>This is homepage, ya know?</h2>
		<a href="/my/">My stuff</a>
		
		
		
		
	</div>
</body>
</html>




