{% extends "./opengis/base.html" %}
{% load opengis_tags %}

{% block body_content %}
<div class="share_home style_queries">
	<div class="head_nav">{% ifequal user account.user %}My{% else %}{{account.user.username}}{% endifequal %} &#187; <a href="{% my_url opengis_view_my_home opengis_view_user_home %}">Profile</a> | <a href="{% my_url opengis_list_my_table opengis_list_user_table %}">Tables</a> | <em>Queries</em>{% ifnotequal user account.user %} <span class="back">[<a href="{% url opengis_list_my_query %}">Back to my queries</a>]</span>{% endifnotequal %}</div>
	{% ifequal user account.user %}
	<div class="top_actions">
		<ul>
			<li><img src="{{MEDIA_URL}}/images/icon_create.png"/> <a href="{% url opengis_create_my_query %}">Create new query</a></li>
		</ul>
	</div>
	{% endifequal %}
	<div>
		{% if not user_queries %}
			<div class="no_list_item">No item found</div>
		{% else %}
			<ol class="query_list">
				{% for query in user_queries %}
					<li class="item">
						<h3><a href="{% url opengis_view_my_query query.query_name %}">{{query.query_name}}</a></h3>
						{% if query.description %}<p class="description">{{query.description}}</p>{% endif %}
						<div class="action_panel">
							<ul>
								<li><a href="{% url opengis_visualize_my_query query.query_name %}">Visualize</a></li>
								{% ifequal user account.user %}
								<li><a href="{% url opengis_edit_my_query query.query_name %}">Edit Query</a></li>
								<li class="warning"><a href="#">Delete</a></li>
								{% endifequal %}
							</ul>
						</div>
					</li>
				{% endfor %}
			</ol>
		{% endif %}
	</div>
</div>
{% endblock %}