{% extends "./opengis/table_base.html" %}

{% block table_body_content %}
<div class="table_page_header">Table Name: <h3><a href="{% url opengis_view_my_table user_table.table_name %}">{{user_table.table_name}}</a> &#155; Input Data</h3></div>

<div class="style_table_input">
	<!-- PLACE YOUR NEW CODE HERE -->
</div>



<!-- OLD CODE

	<form action="." method="post">
		{% for column in user_table.columns %}
			<div><label for="id_{{column.column_name}}">{{column.column_name}}</label> <input type="text" id="id_{{column.column_name}}" name="{{column.column_name}}"/></div>
		{% endfor %}
		<div><button type="submit">Submit</button></div>
	</form>
-->
{% endblock %}