{% extends "./opengis/content_base.html" %}
{% load opengis_tags %}

{% block head_content %}
<script type="text/javascript">
$(document).ready(function() {
	$(".columns_form select.data_type").change(function() {
		var data_type = $(this).find("option:selected").val();
		
		if(data_type == "datetime") {
			$(this).parent().find(".more_inputs").html('<select class="related"><option value="datetime">Date and Time</option><option value="date">Date only</option><option value="time">Time only</option></select>');
		
		} else if(data_type == "builtin") {
			$(this).parent().find(".more_inputs").html('<select class="related"><option></option>{% generate_built_in_table_list %}</select>');
		
		} else if(data_type == "table") {
			$(this).parent().find(".more_inputs").html('<select class="related"><option></option><option value="mine">My Tables</option><option value="others">User\'s Table</option></select>');
			
			$(this).parent().find(".more_inputs select").change(function() {
				var select_object = $(this);
				var table_type = $(this).find("option:selected").val();
				
				$(this).parent().find("select.data_type_table_tyle").remove();
				
				if(table_type == "mine") {
					$.getJSON("{% url opengis_ajax_list_user_table %}", function(data) {
						var list_html = '';
						for(var i in data.tables) {
							list_html += '<option value="' + data.tables[i].id + '">' + data.tables[i].name + '</option>';
						}
						
						select_object.parent().append('<select class="data_type_table_tyle"><option></option>' + list_html + '</select>');
					});
				
				} else if(table_type == "others") {
					// TODO Open Popup to ask for username, table code etc.
					
				}
			});
		
		} else {
			$(this).parent().find(".more_inputs").html('');
		}
	});
	
	$(".columns_form input[type='text']").change(function() {
		$(".display_column_panel").show();
		$("#id_display_column_selector").html("");
		
		$(".columns_form input[type='text']").each(function() {
			if($(this).val() != "") $("#id_display_column_selector").append("<option>" + $(this).val() + "</option>");
		});
	});
	
	// Add new column click event
	$("#add_new_column").click(function() {
		var col_num = $(".columns_form ol li").length - 1; // -2+1
		$(".columns_form ol li:last").before('<li class="input"><label>Column</label><input type="text" /><select class="data_type"><option></option>{% generate_data_type_list 0 %}</select><div class="more_inputs"></div><div class="clear"></div></li>');
		return false;
	});
	
	$("form button").click(function() {
		dosubmit();
		return true;
	});
});

function dosubmit() {
	$("#id_display_column").val($("#id_display_column_selector option:selected").val());
	
	$(".columns_form li.input").each(function() {
		var column_name = $(this).find("input").val();
		var data_type = $(this).find("select.data_type option:selected").val();
		
		if(column_name != "" && data_type != "") {
			var column_parameter = "";
			
			if(data_type == "datetime") {
				var datetime_type = $(this).find("select.related option:selected").val();
				if(datetime_type != "") column_parameter = column_name + ":" + datetime_type;
			
			} else if(data_type == "builtin") {
				var builtin_table_id = $(this).find("select.related option:selected").val();
				if(datetime_type != "") column_parameter = column_name + ":" + data_type + ":related--" + builtin_table_id;

			} else if(data_type == "table") {
				var table_type = $(this).find("select.related option:selected").val();
				var table_id = $(this).find("select.data_type_table_tyle option:selected").val();
				
				if(table_type != "" && table_id != "") column_parameter = column_name + ":" + table_type + ":related--" + table_id;

			} else {
				column_parameter = column_name + ":" + data_type;
			}
			
			if(column_parameter != "") {
				$("form").append('<input type="hidden" name="columns" value="' + column_parameter + '"/>');
			}
		}
	});
}
</script>
{% endblock %}

{% block sub_body_content %}
<div class="page_header">Table Name: <h2><a href="{% url opengis_view_my_table user_table.table_name %}">{{user_table.table_name}}</a> &#155; Edit Table</h2></div>

<div class="style_table_create">
	{{form.errors}}
	<form action="." method="post" class="std_form">
		<ul class="form">
			<li class="long_textbox"><label for="id_table_name">Table Name:</label>{{form.table_name}}{{form.errors.table_name}}</li>
			<li class="medium_textarea"><label for="id_description">Description:</label>{{form.description}}{{form.errors.description}}</li>
			<li class="long_textbox"><label for="id_tags">Tags:</label>{{form.tags}}<div class="comment">* Example: thailand,female population,census</div>{{form.errors.tags}}</li>
			<li><label for="id_share_level">Share Level:</label>{{form.share_level}}{{form.errors.share_level}}</li>
		</ul>
		<div class="columns_form">
			{% if columns_errors %}<ul class="errorlist">{% for error in columns_errors %}<li>{{error}}</li>{% endfor %}</ul>{% endif %}
			<ol>
				<li class="caption"><div class="head_column_name">Column Name</div><div class="head_data_type">Data Type</div><div class="clear"></div></li>
				{% for column in user_table.columns %}
				<li class="input"><label>Column</label><input type="text" value="{{column.column_name}}"/><div class="data_type">{% print_column_data_type column.data_type %}</div><div class="action"><a href="#">Delete</a></div><div class="error"></div><div class="clear"></div></li>
				{% endfor %}
				{% for column in columns %}
					<!-- New Columns -->
				{% endfor %}
				<li><a href="#" id="add_new_column">Add new column</a></li>
			</ol>
		</div>
		<ul class="form display_column_panel">
			<li><label for="id_display_column_selector">Display Column:</label><select id="id_display_column_selector">{% for column in user_table.columns %}<option {% ifequal column.physical_column_name user_table.display_column %}selected="selected"{% endifequal %}>{{column.column_name}}</option>{% endfor %}</select>{{form.display_column}}<div class="comment">* Value from which column that will be used in a list when editing</div>{{form.errors.display_column}}</li>
		</ul>
		<div class="button_panel">
			{{form.existing_table_id}}
			<button type="submit">Update Table</button>
			<button type="button">Cancel</button>
		</div>
	</form>
</div>
{% endblock %}