{% extends "./opengis/table_base.html" %}
{% load opengis_tags %}

{% block table_body_content %}
<div class="table_page_header">Table Name: <h3>{{user_table.table_name}}</h3></div>
<div class="table_page_nav">
	<ul>
		<li><a href="{% url opengis_import_my_table user_table.table_name %}">Import Data</a></li>
		<li><a href="{% url opengis_input_my_table user_table.table_name %}">Input Data</a></li>
		<li><a href="{% url opengis_edit_my_table user_table.table_name %}">Edit Table</a></li>
		<li><a href="{% url opengis_delete_my_table user_table.table_name %}" class="warning">Delete</a></li>
	</ul>
</div>

<div class="style_table_view">
	{% if table_data %}
		<table class="view_data">
			<thead>
				<tr>
					<th></th>
					<th>ID</th>
				{% for column in user_table.columns %}
					<th>{{column.column_name}}</th>
				{% endfor %}
				</tr>
			</thead>
			<tbody>
			{% for data_row in table_data %}
				<tr>
					<td><a href="#">Edit</a></td>
					<td>{{data_row.id}}</td>
				{% for column in user_table.columns %}
					<td>{% print_value data_row column.physical_column_name %}</td>
				{% endfor %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% else %}
		<div class="no_table_data">No data in table</div>
	{% endif %}
</div>
{% endblock %}