{% extends "./opengis/content_base.html" %}
{% load opengis_tags %}

{% block head_content %}
<script type="text/javascript" src="{{MEDIA_URL}}/scripts/scripts.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	initialize_CreateTablePage();
});

function submit() {
	var table_name = $("form input[name='table_name']").val();
	var table_description = $("form textarea[name='table_description']").val();
	var table_tags = $("form input[name='table_tags']").val();
	var table_share_level = $("form select[name='table_share_level'] option:selected").val();
	var display_column = $("#id_display_column_selector option:selected").val();
	
	var columns = new Array();
	$(".columns_form li.input").each(function() {
		var column_name = $(this).find("input").val();
		
		if(column_name == undefined || column_name == "") {
			// ERROR
			return;
		}
		
		var data_type = $(this).find("select.data_type option:selected").val();
		
		if(data_type == undefined || data_type == "") {
			// ERROR
			return;
		}
		
		if(data_type == "datetime") {
			var datetime_type = $(this).find("select.related option:selected").val();
			if(datetime_type == undefined || datetime_type == "") {
				// ERROR
			} else {
				data_type = datetime_type;
			}
		
		} else if(data_type == "builtin") {
			var builtin_table_code = $(this).find("select.related option:selected").val();
			
			if(builtin_table_code == undefined || builtin_table_code == "") {
				// ERROR
			} else {
				columns.push('{"name":"' + column_name + '","type":"' + data_type + '","related":"' + builtin_table_code + '"}');
				return;
			}

		} else if(data_type == "table") {
			var table_type = $(this).find("select.related option:selected").val();
			
			var table_id = "";
			if(table_type == "mine") {
				table_id = $(this).find("select.related_table option:selected").val();
				
			} else if(table_type == "others") {
				table_id = $(this).find("span.related_table").attr('rel');
			}
			
			if(table_id == undefined || table_id == "") {
				// ERROR
			} else {
				columns.push('{"name":"' + column_name + '","type":"' + data_type + '","related":"' + table_id + '"}');
				return;
			}
		}
		
		columns.push('{"name":"' + column_name + '","type":"' + data_type + '"}');
	});
	
	$(".button_panel .loading").show();
	
	$.post("{% url opengis_api_table_create %}", {table_name:table_name,table_description:table_description,table_tags:table_tags,share_level:table_share_level,display_column:display_column,column:columns}, function(data) {
		$(".button_panel .loading").hide();
		
		if(data.response == 'success') {
			window.location = "http://" + window.location.host + "/my/table/" + table_name + "/";
		}
	}, "json");
}
</script>
{% endblock %}

{% block sub_body_content %}
<div class="page_header"><h2>Create New Table</h2></div>

<div class="style_table_create">
	<form action="." method="post" class="std_form">
		<ul class="form">
			<li class="long_textbox"><label for="id_table_name">Table Name:</label><input type="text" name="table_name" /></li>
			<li class="medium_textarea"><label for="id_description">Description:</label><textarea name="table_description"></textarea></li>
			<li class="long_textbox"><label for="id_tags">Tags:</label><input type="text" name="table_tags"/><div class="comment">* Example: thailand,female population,census</div></li>
			<li><label for="id_share_level">Share Level:</label><select name="table_share_level"><option value="1">Private</option><option value="9">Public</option></select></li>
		</ul>
		<div class="columns_form">
			<ol>
				<li class="caption"><div class="head_column_name">Column Name</div><div class="head_data_type">Data Type</div><div class="clear"></div></li>
				<li class="input"><label>Column</label><input type="text" name="column_name"/><select class="data_type"><option></option>{% generate_data_type_list 0 %}</select><div class="more_inputs"></div><div class="error"></div><div class="clear"></div></li>
				<li class="input"><label>Column</label><input type="text" name="column_name"/><select class="data_type"><option></option>{% generate_data_type_list 0 %}</select><div class="more_inputs"></div><div class="error"></div><div class="clear"></div></li>
				<li class="input"><label>Column</label><input type="text" name="column_name"/><select class="data_type"><option></option>{% generate_data_type_list 0 %}</select><div class="more_inputs"></div><div class="error"></div><div class="clear"></div></li>
				<li class="input"><label>Column</label><input type="text" name="column_name"/><select class="data_type"><option></option>{% generate_data_type_list 0 %}</select><div class="more_inputs"></div><div class="error"></div><div class="clear"></div></li>
				<li class="input"><label>Column</label><input type="text" name="column_name"/><select class="data_type"><option></option>{% generate_data_type_list 0 %}</select><div class="more_inputs"></div><div class="error"></div><div class="clear"></div></li>
				<li><a href="#" id="add_new_column">Add new column</a></li>
			</ol>
		</div>
		<ul class="form display_column_panel" style="display:none;">
			<li>
				<label for="id_display_column_selector">Display Column:</label>
				<select id="id_display_column_selector"></select>
				<div class="comment">* Value from which column that will be used in a list when editing</div>
			</li>
		</ul>
		<div class="button_panel">
			<button type="submit">Create Table</button>
			<img src="{{MEDIA_URL}}/images/loading.gif" class="loading" style="display:none;"/>
		</div>
	</form>
</div>

<div id="select_other_user_table_popup" style="display:none;"></div>
{% endblock %}