{% extends "./opengis/content_base.html" %}
{% load opengis_tags %}

{% block head_content %}
<script type="text/javascript" src="{{MEDIA_URL}}/scripts/scripts.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	initialize_EditTablePage();
});

function submit() {
	// Gathering data //
	var table_name = $("form input[name='table_name']").val();
	var table_description = $("form textarea[name='table_description']").val();
	var table_tags = $("form input[name='table_tags']").val();
	var table_share_level = $("form select[name='table_share_level'] option:selected").val();
	var display_column = $("#id_display_column_selector option:selected").val();
	
	var rename_columns = new Array();
	
	$(".columns_form li.input").each(function() {
		var column_id = $(this).attr("rel");
		
		var column_name = $(this).find("input").val();
		var prev_column_name = $(this).find("input").attr("rel");

		if(column_name != prev_column_name) {
			rename_columns.push(column_id + ':' + column_name);
		}
	});
	
	// show loading
	$(".button_panel .loading").show();
	
	do_rename_columns(rename_columns, function() {
		do_update_table(table_name, table_description, table_tags, table_share_level, display_column, function() {
			window.location = "http://" + window.location.host + "/my/table/" + table_name + "/";
		});
	});
}

function do_rename_columns(rename_columns, callback) {
	if(rename_columns.length > 0) {
		$.post("{% url opengis_api_table_rename_columns %}", {column:rename_columns}, function(data) {
			callback();
		});
	} else {
		callback();
	}
}

function do_update_table(table_name, table_description, table_tags, share_level, display_column, callback) {
	$.post("{% url opengis_api_table_edit %}", {table_id:{{user_table.id}},table_name:table_name,table_description:table_description,table_tags:table_tags,share_level:share_level,display_column:display_column}, function(data) {
		callback();
	});
}

</script>
{% endblock %}

{% block sub_body_content %}
<div class="page_header">Table Name: <h2><a href="{% url opengis_view_my_table user_table.table_name %}">{{user_table.table_name}}</a> &#155; Edit Table</h2></div>

<div class="style_table_create">
	<form action="." method="post" class="std_form">
		<ul class="form">
			<li class="long_textbox"><label for="id_table_name">Table Name:</label><input type="text" name="table_name" value="{{user_table.table_name}}"/></li>
			<li class="medium_textarea"><label for="id_description">Description:</label><textarea name="table_description">{{user_table.description}}</textarea></li>
			<li class="long_textbox"><label for="id_tags">Tags:</label><input type="text" name="table_tags" value="{{user_table.tags_text}}"/><div class="comment">* Example: thailand,female population,census</div></li>
			<li><label for="id_share_level">Share Level:</label><select name="table_share_level"><option value="1" {% ifequal user_table.share_level 1 %}selected="selected"{% endifequal %} >Private</option><option value="9" {% ifequal user_table.share_level 9 %}selected="selected"{% endifequal %} >Public</option></select></li>
		</ul>
		<div class="columns_form">
			<ol>
				<li class="caption"><div class="head_column_name">Column Name</div><div class="head_data_type">Data Type</div><div class="clear"></div></li>
				{% for column in user_table.columns %}
				<li class="input" rel="{{column.id}}"><label>Column</label><input name="column_name" type="text" value="{{column.column_name}}" rel="{{column.column_name}}"/><div class="data_type">{% print_column_data_type column.data_type %}</div><div class="action"></div><div class="error"></div><div class="clear"></div></li>
				{% endfor %}
			</ol>
		</div>
		<ul class="form display_column_panel">
			<li><label for="id_display_column_selector">Display Column:</label><select id="id_display_column_selector">{% for column in user_table.columns %}<option value="{{column.physical_column_name}}" {% ifequal column.physical_column_name user_table.display_column %}selected="selected"{% endifequal %}>{{column.column_name}}</option>{% endfor %}</select><div class="comment">* Value from which column that will be used in a list when editing</div></li>
		</ul>
		<div class="button_panel">
			<button type="submit">Update Table</button>
			<img src="{{MEDIA_URL}}/images/loading.gif" class="loading" style="display:none;"/>
		</div>
	</form>
</div>

<div id="select_other_user_table_popup" style="display:none;"></div>
{% endblock %}