{% extends "./opengis/base.html" %}
{% load opengis_tags %}

{% block head_content %}
<script type="text/javascript">
$(document).ready(function() {
	$(".expand_button").click(function() {
		if($(this).hasClass("expand")) {
			$(this).parent().parent().find("li.collapsible").css("display","inline");
			$(this).html("&#171; Hide Actions").removeClass("expand");
		} else {
			$(this).parent().parent().find("li.collapsible").css("display","none");
			$(this).html("More Actions &#187;").addClass("expand");
		}
		return false;
	});
	
	$(".delete-table").click(function() {
		if(window.confirm("Confirm?")) {
			var clickElement = $(this);
			$.post("{% url opengis_api_table_delete %}", {table_id:$(this).attr("rel")}, function(data) {
				clickElement.closest("li.item").fadeOut();
			}, "json");
		}
		return false;
	});
	
	$(".delete-query").click(function() {
		if(window.confirm("Confirm?")) {
			var clickElement = $(this);
			$.post("{% url opengis_api_query_delete %}", {query_id:$(this).attr("rel")}, function(data) {
				clickElement.closest("li.item").fadeOut();
			}, "json");
		}
		return false;
	});
});
</script>
{% endblock %}

{% block body_content %}
<div class="share_home style_profile">
	<div class="head_nav">
		{% ifequal user account.user %}
			My &#187; <em>Profile</em> | <a href="{% url opengis_list_my_table %}">Tables</a> | <a href="{% url opengis_list_my_query %}">Queries</a>
		{% else %}
			{{account.user.username}} &#187; <em>Profile</em> <span class="back">[<a href="{% url opengis_view_my_home %}">Back to my profile</a>]</span>
		{% endifequal %}
	</div>
	<div class="list_header">{% ifequal user account.user %}<h2>Recent Tables</h2> <span>[ <a href="{% url opengis_create_my_table %}">Create new table</a> ]</span>{% else %}<h2>{{account.user.username}}'s Tables</h2>{% endifequal %}</div>
	{% if not user_tables %}
		<div class="no_list_item">No item found</div>
	{% else %}
		<ol>
			{% for table in user_tables %}
				<li class="item">
					<h3><a href="{% my_url opengis_view_my_table opengis_view_user_table table.table_name %}">{{table.table_name}}</a> <span class="columns">- ( {{table.columns|join:" , "}} )</span></h3>
					<div class="meta">{% print_share_level_html MEDIA_URL table.share_level %} | Created on {% print_datetime table.created %}</div>
					{% if table.description %}<p class="description">{{table.description}}</p>{% endif %}
					{% if table.tags %}<div class="tags"><ul>{% for tag in table.tags %}<li>{{tag}}</li>{% endfor %}</ul></div>{% endif %}
					{% ifequal user account.user %}
					<div class="action_panel">
						<ul>
							<li><a href="{% url opengis_import_my_table table.table_name|urlencode %}">Import Data</a></li>
							<li><a href="{% url opengis_edit_my_table table.table_name|urlencode %}">Edit Table</a></li>
							<li class="warning"><a href="#" class="delete-table" rel="{{table.id}}">Delete</a></li>
						</ul>
					</div>
					{% endifequal %}
				</li>
			{% endfor %}
		</ol>
	{% endif %}
	
	<div class="list_header">{% ifequal user account.user %}<h2>Recent Queries</h2> <span>[ <a href="{% url opengis_create_my_query %}">Create new query</a> ]</span>{% else %}<h2>{{account.user.username}}'s Queries</h2>{% endifequal %}</div>
	{% if not user_queries %}
		<div class="no_list_item">No item found</div>
	{% else %}
		<ol>
			{% for query in user_queries %}
				<li class="item">
					<h3><a href="{% my_url opengis_view_my_query opengis_view_user_query query.query_name %}">{{query.query_name}}</a></h3>
					<div class="meta">Created on {% print_datetime query.created %}</div>
					{% if query.description %}<p class="description">{{query.description}}</p>{% endif %}
					<div class="action_panel">
						<ul>
							<li><a href="{% my_url opengis_visualize_my_query opengis_visualize_user_query query.query_name %}">Visualize</a></li>
							{% ifequal user account.user %}
							<li><a href="{% url opengis_edit_my_query query.query_name|urlencode %}">Edit Query</a></li>
							<li class="warning"><a href="#" class="delete-query" rel="{{query.id}}">Delete</a></li>
							{% endifequal %}
						</ul>
					</div>
				</li>
			{% endfor %}
		</ol>
	{% endif %}
</div>

{% endblock %}